*{
    padding: 0%;
    margin: 0;

}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(college.jpg);
    background-size: cover ;
    background-position:unset;
}
.arrange{
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    padding: 35px;
    position: sticky;
}
.arrange ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    position: relative;
}

.arrange ul li a{
    text-decoration: none;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 10px;
}
.arrange h1{
    color: whitesmoke;
    font-family: monospace;
    font-weight: 700;
    font-size: 40px;
    position: sticky;
}
/*.heading{
    background-image:linear-gradient(grey,rgb(255,255,255));
    position: sticky;
}*/
.btm{
    position: fixed;
    bottom: 10px;
    right: 10px
}

.btm a{
    font-size: 15px;
    font-family: monospace;
    font-weight: 500;
    text-decoration: none;
    color: white;
    ;
}
.arrange ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -15px;
    transition: 0.5s;
}
.arrange ul li:hover::after
{
    width: 100%;
}
.text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.text h1{
    font-size: 60px;
    font-family: sans-serif;
    color:aqua;
}
.text p{

    font-size: 25px;
    font-family:arial;
    color: white;
}
button{
    text-align: center;
    margin: 20px 15px;
    font-size: 15px;
    font-weight: bold;
    color:white;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #009688;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
span{
    background-color: #009688;
    width: 0%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom:0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}